@import 'variables.sss'

.adaptiveHeader
  background: red
  width: 100%
  display: block
  &:container(width < 630px)
    background: green
  &:container(width > 630px)
    background: yellow
  &:container(width > 930px)
    background: red
