.workDay
  width 100%

.wrapper
  margin-bottom 10px

.header
  margin-bottom 10px
  display flex
  align-items baseline
  justify-content space-between

.time
  color #888

.textarea
  width 100%
  font-size 14px
  border none
