.userPanel
  padding-top 20px
  display flex
  flex-direction column
  align-items center
  width 100px
  height 100%
  background-color #eeeeee

.user
  margin-bottom 15px

.wrapper
  padding-top 3px
  display flex
  flex-direction column
  width 50px
