.userPanel
  padding-top 20px
  display flex
  flex-direction column
  align-items center
  min-width 100px
  height 100%
  background-color #eeeeee

.user
  margin-bottom 15px

.link
  padding-top 3px
  display flex
  flex-direction column
  width 50px

  &_active,
  &_active:hover
    color black
    text-decoration none
    cursor default
