@font-face {
  font-family: 'Rotonda';
  src: url('/rotonda/rotondac.woff2') format('woff2'),
      url('/rotonda/rotondac.woff') format('woff'),
      url('/rotonda/rotondac.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rotonda';
  src: url('/rotonda/rotondac-bold.woff2') format('woff2'),
      url('/rotonda/rotondac-bold.woff') format('woff'),
      url('/rotonda/rotondac-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: url('/arial/arial.woff2') format('woff2'),
      url('/arial/arial.woff') format('woff'),
      url('/arial/arial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: url('/arial/arial-medium.woff2') format('woff2'),
      url('/arial/arial-medium.woff') format('woff'),
      url('/arial/arial-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: url('/arial/arialbd.woff2') format('woff2'),
      url('/arial/arialbd.woff') format('woff'),
      url('/arial/arialbd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Arial Narrow';
  src: url('/arial-narrow/arialn.woff2') format('woff2'),
      url('/arial-narrow/arialn.woff') format('woff'),
      url('/arial-narrow/arialn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial Narrow';
  src: url('/arial-narrow/arialnb.woff2') format('woff2'),
      url('/arial-narrow/arialnb.woff') format('woff'),
      url('/arial-narrow/arialnb.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
