:root {
  --maincolor: #142d67;
  --iconmaincolor: #ff5b00;
  --icondaterange: #ff5b00;
  --cataloglinkcolor: #fff;
  --activemenuitemcolor: #ffd100;
  --footerbackgroundcolor: linear-gradient(180deg, #142d67 0%, #193a85 100%);
  --footerbackgroundcolorinvert: linear-gradient(180deg, #193a85 0%, #142d67 100%);
  --paginationbackground: #ffd100;
  --collapseborder: #050914;
  --secondcolor: #ff5b00;
  --rangefiltercolor: #ffd100;
  --mainbackground: #fff;
  --switchon: #34af31;
  --switchoff: #ff5b00;
  --submitcolor: #ff5b00;
  --successcolor: #62a73e;
}
