:root {
  --maincolor: #9243f1;
  --iconmaincolor: #9243f1;
  --icondaterange: #ff5b00;
  --cataloglinkcolor: #fff;
  --activemenuitemcolor: #ff73f8;
  --footerbackgroundcolor: linear-gradient(180deg, #9243f1 0%, #a75eff 100%);
  --footerbackgroundcolorinvert: linear-gradient(180deg, #a75eff 0%, #9243f1 100%);
  --paginationbackground: #ff73f8;
  --collapseborder: #9243f1;
  --secondcolor: #f07;
  --rangefiltercolor: #9243f1;
  --paginationactivecolor: #fff;
  --buttontextcolor: #9243f1;
  --switchon: #9243f1;
  --switchoff: #f07;
  --submitcolor: #9243f1;
  opacity: 1;
}
