@import '~variables.styl'

.tabs
  display: block
  background: black
  display: flex
  .tabPinnedWrapper
    display: flex
    align-items: center
  .tabWrapper
    display: flex
    align-items: center

