.tasks
  width 100%
  counter-reset taskNumber

.task
  margin-bottom 10px
  display flex
  justify-content space-between

  &::before
    margin-right 5px
    font-size 16px
    line-height 23px
    content counter(taskNumber, decimal-leading-zero)
    counter-increment taskNumber

.number
  padding-top 1px

.button
  margin-right 12px
  padding 0
  text-align left
  white-space normal

  &:disabled:hover
    text-decoration none

.time
  margin-right 5px
  margin-left auto
  padding-top 1px
