.tasks
  width 100%

.task
  display flex
  justify-content space-between

.button
  text-align left
  white-space normal

  &:disabled:hover
    text-decoration none

.time
  padding 10px 12px 0
  font-size 14px
  line-height 1
