.tasks
  width 100%

.task
  margin-bottom 10px
  display flex
  justify-content space-between

.button
  margin-right 12px
  padding 0
  text-align left
  white-space normal

  &:disabled:hover
    text-decoration none

.time
  padding-top 1px
  font-size 14px
  line-height 1
