@import '../../../src/theme/colors.styl'
@import '../../../src/theme/size.styl'

.digit
	padding-top 100px
	font-size 288px
	text-align center
	color #050915
	line-height 288px
	font-weight 600

.text
	font-size $font-size-base
	font-weight 400
	margin-top 30px
	color #050915
	text-align center
	width 550px
	margin 0 auto
	line-height 17px

.text
	margin-top 20px
	color #050915
	text-align center

.link
	color #050915
	text-decoration underline

.button
	margin-top 30px
	width 120px
	line-height 30px
	text-align center
	color #050915
	display inline-block
	border 1px solid #050915
	border-radius 5px
	text-decoration underline

.zero
	vertical-align baseline
	margin 0 10px