$orange = #ff5b00  // Оранжевый	Иконки и кнопки перехода или подтверждения
$white = #fff // Белый	Цвет который используется на темных цветах сайта
$black = #000
$red = #f00
$text-black = #050914 // Черный	Основной цвет текста
$text-grey = #838383
$blue = #142d67 //  Темно синий	Строка поиска, кнопка в корзину, нижняя часть подвала, градиент подвала(верзняя точка, нижняя точка градиента осветляется на 20%)
$gold = #ffd100 //  Желтый	Иконки с числовым содержимым и иконки с которыми происходит действие(подсказки, уведомления)
$green = #34af31
$alabaster = #f7f7f7
$mercury = #e5e5e5
$codGray = #1e1e1e
