$font-size-base = 13px
$font-size-h1 = 18px
$font-size-h2 = 16px
$font-size-h3 = 15px
$font-size-h4 = 14px
$font-size-h5 = $font-size-base
$font-size-h6 = 12px

$font-size-lg = 15px
$font-size-md = 14px
$font-size-sm = 12px
$font-size-xsm = 11px

$font-size-24px = 24px