@import '~variables.styl'
.selectColor
  display: flex
  box-sizing: border-box

  &__colorBox
    display flex
    justify-content center
    align-items center
    flex-shrink 0
    cursor pointer

    &_state_active
      cursor default

  &__input
    display none

  &__colorBoxChecked
    display flex
    justify-content center
    align-items center

  &__reset
    display flex
    justify-content center
    align-items center
    flex-shrink 0
    background-color transparent
    border none
    outline none
    opacity 0.2
    cursor pointer

    &:hover
      opacity 1
